*{
  padding:0;
  margin:0;
  font-family:"Myriad Pro", sans-serif;
  list-style: none;
}
button,a,input[type=submit]{
  cursor: pointer;
}
body{
  background-color:#13232f;
}
nav{
  background:#1ab188;
  color:#fff;
  width: 100%;
  overflow:auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  min-height:3.5em;
  max-height:3.5em;
}
nav > ul{
  width: 95%;
  margin:0.7% 0% 0% ;
}
nav > ul > li{
  display:inline-block;
  width:15%;
}
nav > ul > li:last-child{
  float: right;
  width: 25%;
  text-align: center;
}
nav > ul > li a{
  display: block;
  position: relative;
  text-decoration:none;
  color:#fff;
  width: 100%;
  padding:7px 0; 
}
nav ul > li a:before{
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all .3s;
}
nav ul > li a:hover:before{
  width: 100%;
}

nav > ul > li > ul{
  display: none;
}

nav > ul > li:hover > ul{
  display: block;
}

.center_to_sides:before{
  left:45%;
}
.center_to_sides:hover:before{
  left:0;
}
/*Login styles*/
.login_main{
  margin:5% 30% 0% 30%;
  width:40%;
}
.login_main h1,
.login_main h2{
  color:#fff;
  text-align: center;
}
.login_main h1 i{
  border-radius: 50%;
  margin-right: 1%;
  font-size: 24px;
}
.login_main h2{
  color:#757575;
  <!--background: #68EFAD;-->
}
.login_main input[type=submit]{
  margin-top:4%;
}
.form_card{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 10px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.input_redondo_oscuro{
  border:2px solid #E0E0E0;
  background: #E0E0E0;
  padding:2%;
  margin-bottom:2%;
  border:none;
  width: 90%;
  font-size: 14px;
  outline: none;
  -webkit-border-radius: 15px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.input_redondo_oscuro:focus{
  border-color:#E0E0E0;
  background: #fff;
box-shadow:0 0 8px #666;
}
.input_bordes_redondos:focus{
  border:2px solid #E0E0E0;
  outline: none;
  background: #fff;
   -webkit-outline: none;
  -webkit-border:2px solid #E0E0E0;
  -webkit-box-shadow: 0 0 5px #719ECE;
  -moz-outline: none;
  -moz-border:2px solid #E0E0E0;
  -moz-box-shadow: 0 0 5px #719ECE;
}
.input_icono{
 background: #E0E0E0;
 margin-top: 4%;
 -webkit-border-radius: 15px;
 padding-left: 10px; 
}
.input_icono{
  color:#757575;
}
.bSend:hover{
  background: #fff;
  color: #283593;
}
.boton_redondeado{
      text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
      text-align:center;
      border:none;
      text-decoration: none;
      display:inline-block;
      color: #FFF;
      background: #7F8C8D;
      padding: 7px 20px;
      white-space: nowrap;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 100px;
      margin: 10px 5px;
      -webkit-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
}
/*br = boton_redondeado*/
.br_verde{
  background: #00897b;
  box-shadow: 0px 5px 0px 0px #00695c;
}
.br_verde:hover{
  background: #009688;
}
.br_verde:active{
  box-shadow: 0px 2px 0px 0px #00897b;
}
.br_azul{
  background: #455a64;
  box-shadow: 0px 5px 0px 0px #263238;
}
.br_azul:hover{
  background: #546e7a;
}
.br_azul:active{
  box-shadow: 0px 2px 0px 0px #00897b;
}
.card{
  background: #fff;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
}
/*Listado de evaluaciones-------------------------------*/
.contenedor_card_evaluacion .card{
  padding: 2% 0% 0% 2%;
  overflow:auto;
}
.contenedor_card_evaluacion .card > div:nth-child(1){
  width:10%;
  margin:5% 0% 5% 0;
}
.contenedor_card_evaluacion .card > div:nth-child(2) label{
  color:#616161;
}
.contenedor_card_evaluacion .card > div:nth-child(2) h4{
  margin-bottom: 1%;
}
.contenedor_card_evaluacion .card > div:nth-child(2) label span{
  padding-right: 1%;
}
.contenedor_card_evaluacion .card > div:nth-child(2){
  width:70%;
}
.contenedor_card_evaluacion .card >  div:nth-child(1) span{
  color: #26a69a;
  width: 20%;
  padding: 1em;
  border-radius: 50%;
  font-size: 19px;
}
.contenedor_card_evaluacion .card > div{
  float: left;
}

.contenedor_card_evaluacion .card{
  margin-top: 3%;
}
.contenedor_card_evaluacion .barra_opciones{
  padding: 2%;
  border-top: 1px solid #BDBDBD;
  margin-top: 4%;
}
.contenedor_card_evaluacion .barra_opciones > span{
  font-size: 17px;
  margin-right: 5%;
  color: #616161;
  padding: 8px;
  border-radius: 50%;
}
.contenedor_card_evaluacion .barra_opciones > span:hover{
  color: #1ab188;
  background: #13232f;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}
/*Listado de evaluaciones*/

/*colores*/
.verde_agua{
  background: #26a69a;
}
.gris{
  background:#eee;
}
.azul_oscuro{
  background:#13232f;
}
.verde_limon{
  background: #8bc34a;
}
.verde_limon:active{
  background:#689f38;
}
.rojo_flat{
  background: #e53935;
}
.rojo_flat:active{
  background: #b71c1c;
}
.sombra_boton{
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 
             0 1px 5px 0 rgba(0,0,0,0.12),
             0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 
             0 1px 5px 0 rgba(0,0,0,0.12),
             0 3px 1px -2px rgba(0,0,0,0.2);
  -0-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 
             0 1px 5px 0 rgba(0,0,0,0.12),
             0 3px 1px -2px rgba(0,0,0,0.2);
}
/*Colores*/
/*Eventos*/
.hover_verde:hover{
  background: #1ab188;
}
.hover_azul_verde:hover{
  color: #fff;
  background: #13232f;
}
/*Eventos*/
.centrar_contenido_main{
  width: 60%;
  margin:3% 20%;
}
.btn_flotante {
  display:inline-block;
  height: 56px;
  position: fixed;
  width: 56px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  cursor: pointer;
  border-radius: 50%;
  color: #fff;
  bottom: 45px;
  right: 24px;
  text-align: center;
  font-size:16px;
  text-decoration:none;
  line-height: 58px;
}
/*formulario evaluacion*/
.modal{
  background-color: rgba(0,0,0,.5);
  position:fixed;
  z-index:1;
  top:0;
  right:0;
  bottom:0;
  left:0;  
}
.modal .contenido_modal{
  background-color:#fff;
  width:40%;
  padding: 10px 20px;
  margin: 10% auto;
  position: relative;
}

#fEvaluacion label{
  margin-left: 1%;
}
#fEvaluacion h3{
  margin-bottom: 1%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color:#fff;
  border-top: 1px dashed #26a69a;
}
footer p{
 padding:10px;  
}
/*Formulario login*/
#fLogin input[type=email],#fLogin input[type=password]{
  margin-top:2.5%; 
}
/*Formulario login*/
/*Formulario pregunta*/
.formPregunta{
  background: #fff;
  margin:5% 28%;
  max-width:40%;
  min-width:40%;
  overflow:auto;
  padding:10px;
}
.formPregunta textarea{
  min-width: 85%;
  max-width: 85%;
  min-height: 30px;
  max-height: 50px;
}
.cntRespuesta textarea, .cntRespuesta button {
  float: left;
}
.cntRespuesta button{
  margin: 2%; 
}
.botonCircular{
  border:none;
  color: #fff;
  padding: 5px 7px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.botonCircular:active{
  box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}

.cntRespuesta{
  min-height: 100px;
  max-height: 300px;
  overflow:auto;
  margin-top: 2%;
}

.footOpciones{
  border-top: 1px solid #BDBDBD;
}
.btn_cerrar{
  font-size: 25px;
  float: right;
  cursor:pointer;
}
.btn_cerrar:hover{
  color:#e53935;
}
/*form para buscar*/
.fBuscar input[type=text]{
  width:60%;
  margin: 2% 0% 2% 2%;
}
/*form para buscar*/
/*Media queries 0 2px 5px 0 rgba(0,0,0,.26);
}*/
@media only screen and (max-width: 580px) {
  .login_main{
    width: 65%;
    margin:5% 2%;
  }
  .form_card{
    min-width: 100%;
  }
}